.carousel-inner {
    height: 500px;
}

img {
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.mb {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    background-position: center;
    background-size: cover;
    height: 200px;
    color: white;
    /* position: relative; */
}

.cercania {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto-linea>hr {
    width: 0;
    height: 5px;
    background-color: white;
    transition: width 0.5s;
}

.texto-linea:hover>hr {
    width: 100%;
}

.texto-linea:hover>p {
    display: block !important;
}

.counter,
.numero {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 50px;
    width: 30%;
}

.clientes {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.consultores,
.proyectos {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}