// .carousel-inner {
//     height: 500px;
// }
img {
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.mb {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    background-position: center;
    background-size: cover;
    height: 200px;
    color: white;
    /* position: relative; */
}

.cercania {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto-linea>hr {
    width: 0;
    height: 5px;
    background-color: white;
    transition: width 0.5s;
}

.texto-linea:hover>hr {
    width: 100%;
}

.texto-linea:hover>p {
    display: block !important;
}

.counter,
.numero {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 50px;
    width: 30%;
}

.clientes {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.consultores,
.proyectos {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.card-icon {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.enlace-icon img {
    max-width: 35%;
}

.enlace-icon span {
    color: silver;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    /* opacity: 1; */
    /* line-height: 22px;
    margin-left: 10px; */
}

.enlace-icon {
    /* text-align: left;
    vertical-align: top; */
    text-decoration: none;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 50px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;
    z-index: -100;
}

.grupo-back {
    /* width: 220px; */
    height: 200px;
}

.imgJava,
.imgNet {
    /* max-width: 50%; */
    width: 100px;
}

.grupo-life {
    height: 90px;
}

.imgLife {
    /* max-width: 50%; */
    /* width: 70%; */
    padding: 10px;
    /* height: 50px; */
}

.grupo-xam {
    /* width: 250px; */
    height: 90px;
}

.imgXam {
    padding: 10px;
    width: 100px;
}

.grupo-and {
    height: 110px;
}

.imgAnd {
    padding: 10px;
    width: 70px;
}

.grupo-text {
    color: white;
    /* font-size: 25px; */
    font-weight: 800;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.grupo-texto {
    color: white;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 210px;
}